.Paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.Avatar {
  margin: "5px";
}

.LoginForm {
  width: "100%";
  margin-top: "5px";
}

.LoginSubmit {
  margin: "15px, 0px, 10px";
}
